@font-face {
  font-family: "internal-app-font";
  src:
    local(""),
    url("./assets/fonts/roboto-variable.woff2") format("woff2");
}

:root {
  --font-size: 14px;
  --text-color: #dddddd;
  --primary-color: #62ffff;
  --background-color: #333333;
  --inputs-background-color: #222222;
  --border-color: #444444;

  --button-background-color: #4d4d4d;
  --button-background-color-hover: #555555;
  --button-background-color-active: #444444;
}

html {
  background-color: var(--background-color);
  text-align: center;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0;
}

body {
  margin: 0;
  overflow: hidden;
  min-width: 550px;
  font-family: "internal-app-font";
}

#app {
  height: 100vh;
}

.header {
  height: 38px;
  background-color: #222222;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  --wails-draggable: drag;

  .title {
    font-size: var(--font-size);
    margin-left: 16px;
    color: var(--text-color);
  }

  .window-controls {
    display: flex;
    margin-right: 5px;
    --wails-draggable: none;
    height: 100%;
    width: 30px;
  }

  button {
    mask-image: url("./assets/svg/close.svg");
    width: 42px;
    mask-size: 18px 18px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #cccccc;
    border-radius: 0;
    &:hover {
      background-color: #ffffff;
    }
    &:active {
      transform: scale(0.85);
    }
  }
}
